@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

* { 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */}

#sound{
    width: 3rem;
    height: 3rem;
    position: fixed;
    right: 10px;
    top: 20px;
    color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

#sound i{
    font-size: 1.5rem;
    display: none;
}

button{
    font-size: 1.5rem;
    font-weight: bolder;
    width: 90%;
}

h1, h3, #score-amount{ 
    font-size: 2rem;
}
h2, #max-score{
    font-size: 1.5rem;
}

#question{
    font-size: 1.1rem;
    font-weight: bold;
}

.divbtn:hover{
    animation-name: interactive-buttons;
    animation-duration: 2s;
    color:black;
    background-color: #cbf078;
    outline: 5px solid black;
}

#answered{
    text-transform: uppercase;
}

#question-number, #question{
    display: block;
    margin: 20px auto;
}

#question-number{
    font-size: 1.5rem;
}

@keyframes interactive-buttons {
   
}
html, body {
	min-height: 100%;
	color: #000;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1rem;
    letter-spacing: 0.12rem;
}
	
body {
	margin: 0;
    background: url('../images/quiz-background-image.jpg') no-repeat center  left; 
    background-size: cover;

}

#title, #choose-title, #end{
    margin: 100px auto;
    font-size: 2rem;
}

#end{
    margin-bottom: 50px;
    
}


#question-number, #question, .answer, #progress-bar{
    margin: 0 auto;
    width: fit-content;
    text-transform: uppercase;
}
.quiz-container, #welcome-screen, #question-result, #game-types{
    width: 100%;
    height: 100vh;
    padding: 5%;
display: none;
}

#main-container{
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
}

#question-result{
    font-size: 2rem;
    padding-top: 50px;
    line-height: 3.5rem;
}

#question-result span {
    font-size: 2.5rem;
}

#game-types {
    display: none;
}

#game-types > div {
    margin: 50px auto;
    width: 70%;
    
}

#game-types.active{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    overflow: auto;
    flex-direction: row;
}

.active{
    display: block !important;
}

#progress-bar{
    border-radius: 50px;
    width: 80%;
    height: 20px;
    margin-top: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    background: none;
    overflow: hidden
}
#progress-bar div{
height: 100%;
width: 10%;
background-color: #cbf078;
}

#result-text{
    margin: 25px auto;
}

#question{
    padding: 1.5rem 0;
}

.divbtn{
    color: #cbf078;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem 2rem;
    min-width: 90%;
    margin-bottom: 25px

}


/* animations */

.exit-animation{
    animation-name: exit;
    animation-duration: 1.2s;
}

@keyframes exit {
    
    40%{
        opacity:0;
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}


.enter-animation{
    animation-name: enter;
    animation-duration: 1s;
}

@keyframes enter {
    
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (min-width:768px) {
    #main-container{
        background: rgba(255, 255, 255, 0.7);
        text-align: center;
   max-width: 50%;
    margin: 0 auto;
}    
}

#instructions{
    padding-top: 5%;
    width:100%;
    height: 100%;
    display: none;
    text-align:center;
}

#instructions li{
    padding: .75em 0;
    text-align:left;

}


.answer{
    margin-bottom: 10px;
    font-size: 1rem;
}